<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&A 게시판</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="#" class="home-button">HOME</a> <!-- 홈 버튼 추가 -->
    <h1>Q&A 게시판</h1>
    <hr class="divider"> <!-- 구분선 추가 -->
    <a href="{{ url_for('add_question') }}" class="add-question-button">질문 등록</a>
    <h2>자주 묻는 질문</h2>
    <ul class="questions-list">
        {% for faq in faqs %}
            <li>
                <span class="question-number">*</span>
                <a href="{{ url_for('faq', faq_id=faq[0]) }}">{{ faq[1] }}</a>
                <hr class="question-divider">
            </li>
        {% endfor %}
    </ul>
    <h2>질문</h2>
    <ul class="questions-list">
        {% for question in questions %}
            <li>
                <span class="question-number">{{ questions|length - loop.index0 }}</span>
                <a href="{{ url_for('question', question_id=question[0]) }}">{{ question[1] }}</a>
                <hr class="question-divider">
            </li>
        {% endfor %}
    </ul>
</body>
</html>
